.cta {
    background-color: var(--col-blue-300);
    color: var(--col-light);
    background-image: url(../img/bg--wirehand-dark.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-block: 3rem;
}