@import "typography";
@import "colours";
@import "buttons";
@import "header";
@import "footer";
@import "blog";
@import "blocks/blocks";

main {
    margin-top: var(--h-top);
    @media (min-width:992px) {
        margin-top: var(--h-top-desktop);
    }
    a.noline {
        text-decoration: none;
    }
    a.anchor {
        display: block;
        position: relative;
        top: -60px; // calc(var(--h-top) * -1);
        visibility: hidden;
    }
    
    a.arrow-link {
        position: relative;
        width: max-content;
        &::before, &::after {
            position: absolute;
            transition: opacity var(--transition);
            width: 22px;
            height: 16px;
            right: -2rem;
        }
        &::before {
            content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.5 16.28'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %235d7f9c; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cg%3E%3Ccircle class='cls-1' cx='12.94' cy='8.22' r='1'/%3E%3Ccircle class='cls-1' cx='15.46' cy='8.22' r='1'/%3E%3Ccircle class='cls-1' cx='17.98' cy='8.22' r='1'/%3E%3Ccircle class='cls-1' cx='20.5' cy='8.22' r='1'/%3E%3Ccircle class='cls-1' cx='10.44' cy='8.22' r='1'/%3E%3Ccircle class='cls-1' cx='7.98' cy='8.22' r='.83'/%3E%3Ccircle class='cls-1' cx='5.46' cy='8.22' r='.66'/%3E%3Ccircle class='cls-1' cx='2.89' cy='8.22' r='.66'/%3E%3Ccircle class='cls-1' cx='.5' cy='8.22' r='.5'/%3E%3Ccircle class='cls-1' cx='12.94' cy='5.76' r='1'/%3E%3Ccircle class='cls-1' cx='15.46' cy='5.76' r='1'/%3E%3Ccircle class='cls-1' cx='17.98' cy='5.76' r='.83'/%3E%3Ccircle class='cls-1' cx='10.44' cy='5.76' r='1'/%3E%3Ccircle class='cls-1' cx='7.98' cy='5.76' r='.83'/%3E%3Ccircle class='cls-1' cx='5.46' cy='5.76' r='.66'/%3E%3Ccircle class='cls-1' cx='2.89' cy='5.76' r='.66'/%3E%3Ccircle class='cls-1' cx='.5' cy='5.76' r='.5'/%3E%3Ccircle class='cls-1' cx='12.94' cy='10.69' r='1'/%3E%3Ccircle class='cls-1' cx='15.46' cy='10.69' r='1'/%3E%3Ccircle class='cls-1' cx='17.98' cy='10.69' r='.83'/%3E%3Ccircle class='cls-1' cx='10.44' cy='10.69' r='1'/%3E%3Ccircle class='cls-1' cx='7.98' cy='10.69' r='.83'/%3E%3Ccircle class='cls-1' cx='5.46' cy='10.69' r='.66'/%3E%3Ccircle class='cls-1' cx='2.89' cy='10.69' r='.66'/%3E%3Ccircle class='cls-1' cx='.5' cy='10.69' r='.5'/%3E%3Ccircle class='cls-1' cx='12.94' cy='3.29' r='1'/%3E%3Ccircle class='cls-1' cx='12.94' cy='.83' r='.83'/%3E%3Ccircle class='cls-1' cx='12.94' cy='15.45' r='.83'/%3E%3Ccircle class='cls-1' cx='15.46' cy='3.29' r='.83'/%3E%3Ccircle class='cls-1' cx='12.94' cy='13.15' r='1'/%3E%3Ccircle class='cls-1' cx='15.46' cy='13.15' r='.83'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            opacity: 0;
        }
        &::after {
            content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.5 16.28'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %235d7f9c; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cg%3E%3Ccircle class='cls-1' cx='12.94' cy='8.22' r='1'/%3E%3Ccircle class='cls-1' cx='15.46' cy='8.22' r='1'/%3E%3Ccircle class='cls-1' cx='17.98' cy='8.22' r='1'/%3E%3Ccircle class='cls-1' cx='20.5' cy='8.22' r='1'/%3E%3Ccircle class='cls-1' cx='10.44' cy='8.22' r='1'/%3E%3Ccircle class='cls-1' cx='7.98' cy='8.22' r='.83'/%3E%3Ccircle class='cls-1' cx='5.46' cy='8.22' r='.66'/%3E%3Ccircle class='cls-1' cx='2.89' cy='8.22' r='.66'/%3E%3Ccircle class='cls-1' cx='.5' cy='8.22' r='.5'/%3E%3Ccircle class='cls-1' cx='17.98' cy='5.76' r='.83'/%3E%3Ccircle class='cls-1' cx='17.98' cy='10.69' r='.83'/%3E%3Ccircle class='cls-1' cx='12.94' cy='.83' r='.83'/%3E%3Ccircle class='cls-1' cx='12.94' cy='15.45' r='.83'/%3E%3Ccircle class='cls-1' cx='15.46' cy='3.29' r='.83'/%3E%3Ccircle class='cls-1' cx='15.46' cy='13.15' r='.83'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
        &:hover::after {
            opacity: 0;
        }
        &:hover::before {
            opacity: 1;
        }
    }

    a {
        display: inline-block;
        font-weight: var(--fw-900);
        transition: color var(--transition);
        &:hover, &:focus-visible, &:active {
            color: inherit;
        }  
    }

    a {
        text-decoration: none;
        color: var(--col-green-400);
        transition: opacity var(--transition);
        font-weight: var(--fw-600);
    }
    
}

#wrapper-footer {
    background-color: $col-darkest;
}

#wrapper-footer .container {
    margin-top: -48px;
}

.btn-primary {
    color: $col-darkest;
    background-color: $col-btn-green;
    border-color: $col-btn-green;
    padding-inline: 1rem;
    font-weight: var(--fw-900);
    transition: color var(--transition), background-color var(--transition);
    border-width: 2px;
    &:hover, &:focus-visible, &:active {
        color: $col-darkest !important;
        background-color: white;
        border-color: $col-btn-border;
    }
}

@media (min-width:992px) {
    .cols-lg-2 {
        columns: 2;
    }
    .cols-lg-3 {
        columns: 3;
    }
}
.share-icons {
    padding-top: 1rem;
    a:not(:last-of-type) {
        margin-right: 0.5rem;
    }
}

.sticky {
    position: sticky;
    top: 0; // var(--h-top);
    @media (min-width: 992px) {
        top: 0; //var(--h-top-desktop);
    }
    background-color: #fff;
    z-index: 1000;
}

// :not(.share-icons,.social-icons,figure,.cb,.rplg-biz-name) > a[target="_blank"]:not(.btn)::after {
//     content: "\f08e";
//     font-family: "Font Awesome 6 Free";
//     font-weight: 600;
//     margin-left: 0.5rem;
//     display: inline-block;
// }

#breadcrumbs {
    font-size: 0.889rem;
}


.reading {
    font-size: 0.889rem;
    font-style: italic;
}

:not(.share-icons,.social-icons,figure,.cb,.rplg-biz-name) > a[target="_blank"]:not(.btn)::after {
    font-weight: 600;
}




.container-xl > .container-xl {
    padding-inline: 0;
}

@media (min-width: 1200px) {
    .order-xl-6 {
        order: 6!important;
    }
    .order-xl-7 {
        order: 7!important;
    }
}

.bg-wirehand {
    background-image: url(../img/bg--wirehand.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50vw;
}

// show stuff that overflows horizontally
// * {
//     outline: 1px solid #f00 !important;
// }
// show stuff that overflows horizontally via console JS
/*
var all = document.getElementsByTagName("*"), i = 0, rect, docWidth = document.documentElement.offsetWidth;
for (; i < all.length; i++) {
    rect = all[i].getBoundingClientRect();
    if (rect.right > docWidth || rect.left < 0){
        console.log(all[i]);
        all[i].style.borderTop = '1px solid red';
    }
}
*/

// @mixin fluid-type($min-vw, $max-vw, $min-value, $max-value) {
// 	$factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
// 	$calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

// 	font-size: $min-value; // Fallback for older browsers
// 	font-size: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
// }