.has-blue-400-color,
.text--blue-400 {
    color: var(--col-blue-400);
}
.has-blue-400-background-color,
.bg--blue-400 {
    background-color: var(--col-blue-400);
}
.has-blue-300-color,
.text--blue-300 {
    color: var(--col-blue-300);
}
.has-blue-300-background-color,
.bg--blue-300 {
    background-color: var(--col-blue-300);
}
.has-red-400-color,
.text--red-400 {
    color: var(--col-red-400);
}
.has-red-400-background-color,
.bg--red-400 {
    background-color: var(--col-red-400);
}
.has-green-400-color,
.text--green-400 {
    color: var(--col-green-400);
}
.has-green-400-background-color,
.bg--green-400 {
    background-color: var(--col-green-400);
}
.has-teal-400-color,
.text--teal-400 {
    color: var(--col-teal-400);
}
.has-teal-400-background-color,
.bg--teal-400 {
    background-color: var(--col-teal-400);
}
.has-teal-300-color,
.text--teal-300 {
    color: var(--col-teal-300);
}
.has-teal-300-background-color,
.bg--teal-300 {
    background-color: var(--col-teal-300);
}
.has-orange-400-color,
.text--orange-400 {
    color: var(--col-orange-400);
}
.has-orange-400-background-color,
.bg--orange-400 {
    background-color: var(--col-orange-400);
}
.has-purple-400-color,
.text--purple-400 {
    color: var(--col-purple-400);
}
.has-purple-400-background-color,
.bg--purple-400 {
    background-color: var(--col-purple-400);
}

.has-grey-background-color,
.bg--grey {
    background-color: var(--col-grey);
}
