/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    font-variant-ligatures: none;
}

html {
    font-size: 18px;
}

body {
    font-family: var(--ff-body);
    font-weight: var(--fw-400);
    font-size: var(--fs-400);
    // line-height: 1.556;
    line-height: 1.4;
    font-style: normal;
    color: $col-darkest;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

h1, .h1, h2, .h2 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-900);
    line-height: 1.1;
    text-wrap: balance;
    margin-bottom: 0.5em;
}

h3, .h3, h4, .h4 {
    font-weight: var(--fw-900);
}

h1, .h1 {
    font-size: var(--fs-900);
}
h2, .h2 {
    font-size: var(--fs-800);
}
h3, .h3 {
    font-size: var(--fs-700);
}
h4, .h4 {
    font-size: var(--fs-600);
}

.fs-200 {
    font-size: var(--fs-200);
}
.has-small-font-size,
.fs-300 {
    font-size: var(--fs-300);
}
.fs-400 {
    font-size: var(--fs-400);
}
.has-medium-font-size,
.fs-450 {
    font-size: var(--fs-450);
}
.has-large-font-size,
.fs-500 {
    font-size: var(--fs-500);
}

.fw-400 {
    font-weight: var(--fw-400);
}
.fw-700 {
    font-weight: var(--fw-700);
}
.fw-900 {
    font-weight: var(--fw-900);
}

.text-balance {
    text-wrap: balance;
}

/* Not sure what this is needed for?
p:not([class]) {
    max-width: 70ch;
} */